services:
  chatbot:
    build: ./chatbot
    container_name: lumina-chatbot
    ports:
      - "8000:8000"
    expose:
      - "8000"
    env_file:
      - .env

  emotion_recognition:
    build: ./emotion_recognition
    container_name: lumina-emotion-recognition
    ports:
      - "8001:8001"
    expose:
      - "8001"
    env_file:
      - .env

  server:
    build: ./backend
    container_name: lumina-backend
    ports:
      - "5000:5000"
    expose:
      - "5000"
    env_file:
      - .env
    
  
  frontend:
    build: ./frontend
    container_name: lumina-frontend
    ports:
      - "3000:80"
    env_file:
      - .env
