services:
  chatbot:
    build: ./chatbot
    container_name: lumina-chatbot
    ports:
      - "8000:8000"
    expose:
      - "8000"
    environment:
      CHATBOT_PORT: "8000"
      MISTRAL_API_KEY : "hAUSwtg5y94ZWizLfZpevarYuIQZ5pht"
      MONGO_URI : "mongodb+srv://hiteshd258_db_user:abcd123@cluster0.zjfulqy.mongodb.net"
      MONGO_DB : "Lumina"
      MONGO_COLLECTION : "chathistories"

  emotion_recognition:
    build: ./emotion_recognition
    container_name: lumina-emotion-recognition
    ports:
      - "8001:8001"
    expose:
      - "8001"
    environment:
      EMOTION_API_PORT: "8001"

  server:
    build: ./backend
    container_name: lumina-backend
    ports:
      - "5000:5000"
    expose:
      - "5000"
    environment:
      CHATBOT_API_URL: "http://chatbot:8000/api/chat"
      EMOTION_API_URL: "http://emotion_recognition:8001/predict"
      MONGODB_URI : "mongodb+srv://hiteshd258_db_user:abcd123@cluster0.zjfulqy.mongodb.net/Lumina"
      SESSION_TIMEOUT: "3600"
      ALLOWED_ORIGINS: "http://frontend:3000,http://frontend:3001"
    
  
  frontend:
    build: ./frontend
    container_name: lumina-frontend
    ports:
      - "3000:80"
    environment:
      REACT_APP_BACKEND_URL: "http://server:5000"
      EMOTION_RECOGNITION_API: "http://emotion_recognition:8001"
